/* Bio CSS */

body, {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

div {
    width: 100%;
    margin: 0px; 
    overflow: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    color: white;
    text-align: center;
}


/* HEADER WELCOME */

.bg {
    background-image: url("../img/chicago-690364_1920.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* NAVIGATION */

.headernav {
    list-style-type: none;
    position: fixed;
    z-index: 500;
    width: 100%;
    margin-bottom: 0px; 
    padding: 20px;
    /*overflow: hidden;*/
    background-color: #333c60;
}

li {
    float: left;
}

li a {
    display: block;
    color: #efbdba;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #efbdba;
    color: #4d4d4f;
}

.portfolio {
    padding: 20px 60px 20px 60px;
    font-size: 16px;
    background-color: #efbdba;
    margin: 0px; 
    margin-bottom: 0px; 
}

.employment {
    background-color: ffffff;
    padding: 20px 60px 20px 60px;
    font-size: 16px;
}

.footer {
    background-color: #333c60;
    color: #efbdba;
    height: 60px;
}

.footer ul{
    list-style: none;
  
}
